%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
    {moon, "", {git, "git://github.com/chaos-ad/moon.git", "master"}},
    {lager, "", {git, "git://github.com/basho/lager.git", "master"}},
    {cowboy, "", {git, "git://github.com/extend/cowboy.git", "master"}},
    {poolboy, "", {git, "git://github.com/basho/poolboy.git", "master"}},
    {gl_service, "", {git, "git@github.com:spilgames/Game-Logic-Service", "master"}}
]}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
