%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
    {cowboy, "", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
    {gl_wrapper_lua, "", {git, "git@github.com:spilgames/gl_wrapper_lua.git", "1.0.3"}}
]}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
