[
    {tic_tac_toe, [
        {listen_port, 8080}
    ]},

    {gl_wrapper_js, [
        {workers, 4},
        {paths, ["priv/js"]}
    ]},

    {gl_service, [
        {extra_config, "priv/extra.config"},
        {games, [
            {"gl_wrapper_js_game", gl_wrapper_js_game},
            {"default", "gl_wrapper_js_game"}
        ]},

        {mpserver_node, {mpserver, 'mpserver_node@localhost'}},
        {mpsite_url, "http://qplaydev.qplaygames.com/glswebservice/"},

        {graphite_env,  "dev"},
        {graphite_app,  "service"},
        {graphite_team, "qplay"}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {"logs/error.log", error, 10485760, "$W5D20", 5},
                {"logs/console.log", info, 10485760, "$W5D20", 5}
            ]}
        ]},
        {crash_log, "logs/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$W5D20"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
].
